/******************************************************************
Stylesheet: Bones v1
URL: http://www.themble.com/bones

Author: Eddie Machado (http://themble.com)
Illustrator: Melanie Matthews (http://melaniematthews.com)

Description: The pirate version of bones with an animated rocking ship. This project was illustrated by the lovely Melanie Matthews.

This stylesheet is commented thoroughly as a learning tool. Please
don't steal or copy the code exactly. You can copy snippets and 
expiriment to achieve similar goals, but don't use these images
without my consent. Thanks!
******************************************************************/



	
/* clouds background */
#bones-banner {
	background-image: url(../images/backdrop.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 580px;
	max-width: 1400px;
	margin: 0 auto 2.2em;
	
	/* this adds a box shadow (but it's only visible on larger screens */
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.33);
}	

	
	#an-shark {
		position: absolute;
		z-index: 8001;
		-webkit-animation: shark-bob 8s infinite ease-in-out;
		animation:         shark-bob 8s infinite ease-in-out;
	}
	
	#an-ship {
		position: absolute;
		bottom: 45px;
		left: 120px;
		z-index: 8001;
		-webkit-animation: rockingboat 5s infinite ease-in-out;
		animation:         rockingboat 5s infinite ease-in-out;
	}
	
/* the animated waves */
#an-w1,
#an-w2 {
	position: absolute;
	display: block;
	width: 100%;
	background-repeat: repeat-x;
}

#an-w1 {
	height: 78px;
	bottom: 135px;
	background-image: url(../images/waves1.png);
	z-index: 8000;
	-webkit-animation: wave1 23s infinite linear;
	animation:         wave1 23s infinite linear;
}
	
#an-w2 {
	height: 165px;
	bottom: 0;
	background-image: url(../images/waves2.png);
	z-index: 8003;
	-webkit-animation: wave2 17s infinite linear;
	animation:         wave2 17s infinite linear;
}	

	/* these are the transparent waves at the very bottom */
	#an-w2:after {
		width: 100%;
		height: 40px;
		position: absolute;
		bottom: 50% ;
		content: url(../images/waves3.png);
		z-index: 8004;
		display: block;
	}
	
/*********************
BONES INTRO & COPY
*********************/

#bones-intro {
	width: 400px;
	float: right;
}



/*********************
ANIMATION SYNTAX
*********************/

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:    both;
	-o-animation-fill-mode:      both;
	animation-fill-mode:         both;
}

/* webkit browsers */
@-webkit-keyframes rockingboat {
   0%, 100% { -webkit-transform: rotate(2deg);               bottom: 100px; }
   25%      { -webkit-transform: rotate(-2deg); left: 130px; bottom: 70px; }
   50% 		{ -webkit-transform: rotate(0deg);  left: 140px;               }
   75%      { -webkit-transform: rotate(-2deg); left: 130px; bottom: 80px; }
}

/* IE (10&Up), Firefox (latest) support unprefixed (screw Opera) */ 
@keyframes rockingboat {
   0%, 100% { transform: rotate(2deg);               bottom: 80px; }
   25%      { transform: rotate(-2deg); left: 130px; bottom: 60px; }
   50% 		{ transform: rotate(0deg);  left: 140px;               }
   75%      { transform: rotate(-2deg); left: 130px; bottom: 70px; }
}

/* background waves */
@-webkit-keyframes wave1 {
    0%  { background-position-y: 0;    background-position-x: 0px;     }
   50%  { background-position-y: 20px;                                 } 
   100% { background-position-y: 0;    background-position-x: -1198px; }
}

/* IE (10&Up), Firefox (latest) support unprefixed (screw Opera) */ 
@keyframes wave1 {
    0%  { background-position-y: 0;    background-position-x: 0px;     }
   50%  { background-position-y: 20px;                                 } 
   100% { background-position-y: 0;    background-position-x: -1198px; }
}

/* webkit browsers */
@-webkit-keyframes wave2 {
     0% { background-position-x: 0px;     }
    50% { background-position-y: 15px;    } 
   100% { background-position-x: -1200px; }
}

/* IE (10&Up), Firefox (latest) support unprefixed (screw Opera) */ 
@keyframes wave2 {
     0% { background-position-x: 0px;    }
    50% { background-position-y: 15px;   } 
   100% { ackground-position-x: -1200px; }
}

/* webkit browsers */
@-webkit-keyframes shark-bob {
    0% { left: 250px;  bottom: -10px; opacity: 0;    -webkit-transform: rotate(1deg);   }
    7% {               bottom: 65px;  opacity: 1; z-index: 8002;                                    }
   60% { left: 575px;  bottom: 70px;                                 -webkit-transform: rotate(-10deg); } 
   70% { left: 700px;                                                 -webkit-transform: rotate(-13deg); }
   73% {               bottom: 10px;                                 -webkit-transform: rotate(-16deg); }
   75% { left: 850px;  bottom: 20px;                                  -webkit-transform: rotate(-13deg); }
   78% {                                                -webkit-transform: rotate(-8deg);  }
   81% {                                              -webkit-transform: rotate(-5deg);  }
   90% { left: 900px;  bottom: 30px;                                 -webkit-transform: rotate(0deg);   }
   95% { left: 1000px; bottom: 15px;  opacity: 1; z-index: 8002;                                  }
   99% { left: 1000px; bottom: 20px; opacity: 0; z-index: -1;                                      }
}

/* IE (10&Up), Firefox (latest) support unprefixed (screw Opera) */ 
@keyframes shark-bob {
    0% { left: 250px;  bottom: -150px; display: none;  z-index: -1;   transform: rotate(1deg);   }
    7% {               bottom: -95px;  display: block; z-index: 8002;                            }
   60% { left: 575px;  bottom: -20px;                                 transform: rotate(-10deg); } 
   70% { left: 700px;                                                 transform: rotate(-13deg); }
   73% {               bottom: -10px;                                 transform: rotate(-16deg); }
   75% { left: 850px;  bottom: -5px;                                  transform: rotate(-13deg); }
   78% { left: 850px;  bottom: 5px;                                   transform: rotate(-8deg);  }
   81% { left: 850px;  bottom: -10px;                                 transform: rotate(-5deg);  }
   90% { left: 900px;  bottom: -60px;                                 transform: rotate(0deg);   }
   95% { left: 1000px; bottom: -80px;  display: block; z-index: 8002;                            }
   99% { left: 1000px; bottom: -100px; display: none;  z-index: -1;                              }
}
